<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
  <!-- <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button> -->
  <button type="submit">Submit </button>
</form>


<form (ngSubmit)="postDocs()">
  <div class="form-group">
    <label for="file">Choose File</label>
<mz-select-container>
    <select mz-select name="certicicate" #certicicate="ngModel" [(ngModel)]="identityProof.certicicate">
      <option *ngFor="let a of identityProofArray" [ngValue]="a.key">{{a.value}}</option>
    </select>
  </mz-select-container>
    <input type="file"
          id="file"
          (change)="handleFileInput($event.target.files)">
  </div>
</form>